{% extends "base.html" %}
{% load static %}

{% block page_content %}


<style>
    
    .price {
        width: 200px;
        height: 60px;
        float: right;
        text-align: right;
        display: inline-block;
    }


</style>


        <section class="page-section bg-warning" id="banner">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">오직 안암동에서만.</h2>
                        <hr class="divider light my-4" />
                        <h5 class="text-white mb-16">  근처식당 &nbsp; | &nbsp; 꽌부이 &nbsp;| &nbsp; 발리하이 &nbsp;| &nbsp; 미뇽 &nbsp;  &nbsp;| &nbsp; 일곱평 &nbsp;| &nbsp;  히포크라테스 스프 &nbsp;</p>

                    </div>
                </div>
            </div>
        </section>


<div class="row">
{% for post in posts %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="/media/{{post.image1}}" align = "center" alt = "store pic" width = "auto" height = "350">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
   

                <small>
                    <!--조회수: {{ post.hits  }} |&nbsp;-->
                카테고리:&nbsp;
                {% for category in post.categories.all %}
                <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
                </a> |&nbsp;
                {% endfor %}
                <a> 펀딩 상한: {{ post.totalfund  }}</a>
                </br>
                <strong> 현재 주문량: {{ post.call  }}장</strong>
                | &nbsp;
                <a> 펀딩 하한: nn
                </a>
                </small>
                
                 
                <div class = "progress" style = "height:15px; width:220px;" valign = "top;" >
                <div class = "progress-bar" role = "progressbar" style = "width: {{post.call_rate}}%;"  aria-valuemin = "0" aria-valuemax = "100"> {{post.call}}%(총 25만 8천원)
                </div>
                </div>


                <div class="price">
                    <span style="font-size: 15px; color: grey; text-decoration: line-through;"> ₩{{post.price}} </span>
                    <br /> <span style="font-size: 25px; color: black; font-weight: bold;"> ₩{{post.discounted}} </span>
                </div>


                <p class="card-text"></p>



                <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary">
                    자세히 보기
                </a>

            </div>
        </div>
    </div>
{% endfor %}
</div>
</body>

{% endblock %}
