{% load static %}

<body id = "page-top" style= "padding-top: 55px;">

    <!-- Navigation 3 -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-2" style="background-color: white; font-family: Merriweather Sans, 'Noto Sans KR', sans-serif; box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.12); font-weight: 700;">
    <div class = "container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'daemun' %}"> Ensemble 2.0 </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'daemun' %}"> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'blog_index' %}">Restaurants</a>
      </li>
      <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{% url 'faq' %}">FAQ</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle js-stroll-trigger" href="{% url 'team' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ensemble
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'team' %}">Team</a>
            <a class="dropdown-item" href="{% url 'press' %}">Press & Media</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

</body>

</body>
