{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<div class = "container">
    <h1> find your account </h1>
   
    <!-- non-form method -->
    <!-- form front-end 수정 필요-->
    <form id = "frm" method="POST" action = {% url 'password_reset' %}>
        {% csrf_token %}
        <div>
        계정(이메일):
        <br>
        <input type = "text" id = "email" name = "{{ form.email.html_name }}" required>
        <br>
        &nbsp;
        <br>
        <button type="submit" class= "btn btn-primary">이메일 발송</button>
        </div>
    </form>

</div>
    <!-- alerts -->
        {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
            <script> alert("{{ message }}")</script> 
            {% endif %}  
            {% endfor %}
        </ul>
        {% endif %}

{% endblock %}

