{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<div class = "container">
    <h1> sign up! </h1>
   
    <!-- form method -->
    <form method = "POST" action = "{% url 'signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        &nbsp;
        <br>
        <button type = "submit" class = "btn btn-primary"> signup </button>
        <br>
        &nbsp;
    </form>

    <!-- welcome message (pop-up) -->
        {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
            <script> alert("{{ message }}")</script> 
            {% endif %}  
            {% endfor %}
        </ul>
        {% endif %}

</div>

{% endblock %}

